<p id="notice"><%= notice %></p>

<h1>Email Data</h1>

<table>
  <thead>
    <tr>
      <th>Total emails sent</th>
      <th>Total emails opened</th>
      <th>Total clicks</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @items.count %></td>
        <td><%= @items.count %></td>
        <td><%= @items.count %></td>
      </tr>
  </tbody>
</table>
<br/>
<table>
  <thead>
    <tr>
      <th>Open rate - </th>
      <th>Open rate - </th>
      <th>Open rate - </th>
      <th>Open rate - </th>
      <th>Open rate - </th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @items.count %></td>
      </tr>
  </tbody>
</table>
<br/>

<table>
  <thead>
    <tr>
      <th>Click rate - </th>
      <th>Click rate - </th>
      <th>Click rate - </th>
      <th>Click rate - </th>
      <th>Click rate - </th>
      <th>Click rate - </th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @items.count %></td>
      </tr>
  </tbody>
</table>
