<p id="notice"><%= notice %></p>

<h1>Email Data</h1>

<table>
  <thead>
    <tr>
      <th>Total emails sent</th>
      <th>Total emails opened</th>
      <th>Total clicks</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @items.count %></td>
        <td><%= @total_opened %></td>
        <td><%= @total_clicked %></td>
      </tr>
  </tbody>
</table>
<br/>
<table>
  <thead>
    <tr>
      <th>Open rate - ORDER</th>
      <th>Open rate - SHIPMENT </th>
      <th>Open rate - DISCOUNT</th>
      <th>Open rate - CONFIRM</th>
      <th>Open rate - REFER</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @open_rate_order %></td>
        <td><%= @open_rate_shipment %></td>
        <td><%= @open_rate_discount %></td>
        <td><%= @open_rate_confirm %></td>
        <td><%= @open_rate_refer %></td>
      </tr>
  </tbody>
</table>
<br/>

<table>
  <thead>
    <tr>
      <th>Click rate - ORDER</th>
      <th>Click rate - SHIPMENT</th>
      <th>Click rate - DISCOUNT</th>
      <th>Click rate - CONFIRM</th>
      <th>Click rate - REFER</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @click_rate_order %></td>
        <td><%= @click_rate_shipment %></td>
        <td><%= @click_rate_discount %></td>
        <td><%= @click_rate_confirm %></td>
        <td><%= @click_rate_refer %></td>
      </tr>
  </tbody>
</table>

<div>
  <A HREF="javascript:history.go(0)">Click to refresh the page or the page will refresh in 10 seconds</A>
</div>
