<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @item.address %>
</p>

<p>
  <strong>Email type:</strong>
  <%= @item.email_type %>
</p>

<p>
  <strong>Event:</strong>
  <%= @item.event %>
</p>

<p>
  <strong>Time of event:</strong>
  <%= @item.time_of_event %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
